<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Cloud-A-vengers Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="column">
      <h1  align="center"><i>Welcome to Cloud-A-vengers Application</i></h1>
      <hr>
    {{{body}}}
</div>
<hr>
<div style="float: left;padding-left: 40%;"  >
  <h2 align="center" >Add an event</h2>
    <form action="/event" method="post">
       Title: <input name="title" type="text" /> <br>
       Description: <input name="description" type="text" /> <br>
       <br>
        <input  align="center"  type="submit" class="btn btn-outline-success" name="Submit" value="submit" />
    </form>
  </div>
</body>
</html>